* {
  font-family: "Work Sans";
}

header {
  width: 200px;
  position: fixed;

  h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }
}

nav {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

main {
  margin-left: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  border: 1px solid red;
  list-style: none;
  width: 200px;
  height: 200px;
  margin: 5px;
  overflow: hidden;

  img {
    height: 200px;
    display: block;
    object-fit: cover;
    margin: 0;
  }

  p {
    margin: 5px;
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
  }
}

.card:hover {
  p {
    display: block;
  }
}
