* {
  font-family: "Work Sans";
}

header {
  width: 200px;
  height: 65%;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;

  h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    background-color: black;
    color: white;
    width: 170px;

    a {
      color: white;
    }
  }

  h2 {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    font-size: 16px;
    font-weight: 700;
    padding: 3px;
    border: 1px solid black;
  }

  a {
    text-decoration: none;
  }
}

nav {
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin: 5px;
    padding: 3px;
  }

  a {
    color: black;
  }
}

main {
  margin-left: 200px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.card {
  position: relative;
  list-style: none;
  width: 150px;
  height: 150px;
  margin: 5px;
  overflow: hidden;
  text-align: center;

  img {
    height: 150px;
    width: 150px;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  p {
    margin: 5px;
    position: absolute;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px;
    font-size: 12px;
  }
}

.card:hover {
  p {
    display: block;
  }
}

footer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;

  ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  li {
    list-style: none;
    margin: 5px;
    font-style: italic;
  }
}

[aria-current] {
  border: 1px solid black;
}
