.card {
  height: 150px;
  list-style: none;
  margin: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 150px;
  animation-name: cardOpacity;
  animation-duration: 1.5s;
  animation-iteration-count: 1;

  img {
    display: block;
    height: 150px;
    object-fit: cover;
    object-position: center;
    width: 150px;
    cursor: pointer;
  }

  p {
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    font-size: 11px;
    margin: 5px;
    padding: 2px auto;
    position: absolute;
    text-align: center;
    width: 138px;
  }
}

.card:hover {
  p {
    border: 1px solid black;
    display: block;
  }
}

@keyframes cardOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
