header {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  position: fixed;
  width: 200px;

  h1 {
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 10px;
    text-align: center;

    a {
      color: black;
    }
  }

  h2 {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: 400;
  }

  p {
    border: 1px solid black;
    box-sizing: border-box;
    height: 150px;
    font-size: 16px;
    font-weight: 300;
    padding: 3px;
    width: 150px;
  }

  a {
    text-decoration: none;
  }
}

.logo {
  img {
    height: 60px;
    width: 60px;
  }
}
