footer {
  display: flex;
  justify-content: flex-end;
  margin: 1% 5% 1% 1%;

  ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 60%;
  }
  li {
    font-style: italic;
    font-weight: 300;
    list-style: none;
    margin: 5px;
  }
}
